<h1 class="header">Ember Lazy Responsive Image</h1>

<div class="content">

  <div class="images">
    <div>
      <h2>Lazy, inline LQIP</h2>
      {{responsive-image image="inline.png" className="inline"}}
    </div>
    <div>
      <h2>Lazy, remote LQIP</h2>
      {{responsive-image image="remote.png" className="remote"}}
    </div>
    <div>
      <h2>Lazy, no LQIP</h2>
      {{responsive-image image="lazy.png" className="lazy"}}
    </div>
  </div>

</div>
