<h2 id="title">Welcome to Ember</h2>

{{outlet}}
{{responsive-image image="lazy.png" className="lazy"}}
{{responsive-image image="remote.png" className="remote"}}
{{responsive-image image="inline.png" className="inline"}}