{{page-title "Ember Lazy Responsive Image"}}

<h1 class="header">Ember Lazy Responsive Image</h1>

<div class="content">

  <div class="images">
    <div>
      <h2>Lazy, inline LQIP</h2>
      <ResponsiveImage @image="inline.jpg" class="inline"/>
    </div>
    <div>
      <h2>Lazy, remote LQIP</h2>
      <ResponsiveImage @image="remote.jpg" class="remote"/>
    </div>
    <div>
      <h2>Lazy, no LQIP</h2>
      <ResponsiveImage @image="lazy.jpg" class="lazy"/>
    </div>
  </div>

  <div class="images">
    <div>
      <h2>Lazy, inline LQIP</h2>
      <ResponsiveBackground @image="inline.jpg" class="bg-inline img"/>
    </div>
    <div>
      <h2>Lazy, remote LQIP</h2>
      <ResponsiveBackground @image="remote.jpg" class="bg-remote img"/>
    </div>
    <div>
      <h2>Lazy, no LQIP</h2>
      <ResponsiveBackground @image="lazy.jpg" class="bg-lazy img"/>
    </div>
  </div>

</div>
